:root{
    --text-color: #BBAB8C;
    --bg-color: #FAEED1;
    --display-color: #DED0B6;
    --btn-bg-color: #BBAB8C;
    --btn-bg-color2: #FDF7E4;

    /* 
    --text-color: #a492df;
    --bg-color: #18122B;
    --display-color: #443C68;
    --btn-bg-color: #393053;
    --btn-bg-color2: #635985;
    */
}

@font-face {
    font-family: "digit";
    src: url("../fonts/Let\'s\ go\ Digital\ Regular.ttf");
}